.canvas {
  color-scheme: light;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  color: #1f2328;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  padding-left: 48px;
  padding-right: 48px;
  box-sizing: border-box;
}

.canvas ul {
  font-weight: normal;
  font-size: 1.0625em;
}

.canvas ul[dir="auto"] > li {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.canvas ul[dir="auto"] > li li {
  margin-top: 0;
}

.canvas ul[dir="auto"] > li > label {
  font-weight: bold;
}

.canvas ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.canvas ul[dir="auto"] ul {
  gap: 5px;
  list-style: disc;
}

.canvas ul[dir="auto"] ul ul {
  padding-top: 5px;
  list-style: circle;
}

.canvas ul[dir="auto"] .career {
  display: flex;
  flex-direction: row;
}

.canvas ul[dir="auto"] .career > .date {
  display: flex;
  flex-direction: column;
  width: 240px;
}

.canvas ul[dir="auto"] .career > .data {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.canvas .education > li {
  display: flex;
  flex-direction: column;
}

.info > ul {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 18px;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.info > ul label {
  display: flex;
  gap: 8px;
  font-weight: bold;
}

.info > ul label > a {
  color: rgb(9 9 11);
  font-weight: lighter;
}

.canvas .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.canvas h1:hover .anchor .octicon-link:before,
.canvas h2:hover .anchor .octicon-link:before,
.canvas h3:hover .anchor .octicon-link:before,
.canvas h4:hover .anchor .octicon-link:before,
.canvas h5:hover .anchor .octicon-link:before,
.canvas h6:hover .anchor .octicon-link:before {
  width: 16px;
  height: 16px;
  content: " ";
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

.canvas details,
.canvas figcaption,
.canvas figure {
  display: block;
}

.canvas summary {
  display: list-item;
}

.canvas [hidden] {
  display: none !important;
}

.canvas a {
  background-color: transparent;
  color: #0969da;
  text-decoration: none;
}

.canvas abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

.canvas b,
.canvas strong {
  font-weight: 600;
}

.canvas dfn {
  font-style: italic;
}

.canvas h1 {
  margin: 0.67em 0;
  font-weight: 600;
  padding-bottom: 0.3em;
  font-size: 2em;
}

.canvas mark {
  background-color: #fff8c5;
  color: #1f2328;
}

.canvas small {
  font-size: 90%;
}

.canvas sub,
.canvas sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.canvas sub {
  bottom: -0.25em;
}

.canvas sup {
  top: -0.5em;
}

.canvas img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
}

.canvas code,
.canvas kbd,
.canvas pre,
.canvas samp {
  font-family: monospace;
  font-size: 1em;
}

.canvas figure {
  margin: 1em 2.5rem;
}

.canvas hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid #d1d9e0b3;
  height: 0.25em;
  padding: 0;
  margin: 1.5rem 0;
  background-color: #d1d9e0;
  border: 0;
}

.canvas input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.canvas [type="button"],
.canvas [type="reset"],
.canvas [type="submit"] {
  -webkit-appearance: button;
  appearance: button;
}

.canvas [type="checkbox"],
.canvas [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

.canvas [type="number"]::-webkit-inner-spin-button,
.canvas [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

.canvas [type="search"]::-webkit-search-cancel-button,
.canvas [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.canvas ::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

.canvas ::-webkit-file-upload-button {
  -webkit-appearance: button;
  appearance: button;
  font: inherit;
}

.canvas a:hover {
  text-decoration: underline;
}

.canvas ::placeholder {
  color: #59636e;
  opacity: 1;
}

.canvas hr::before {
  display: table;
  content: "";
}

.canvas hr::after {
  display: table;
  clear: both;
  content: "";
}

.canvas table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  font-variant: tabular-nums;
}

.canvas td,
.canvas th {
  padding: 0;
}

.canvas details summary {
  cursor: pointer;
}

.canvas a:focus,
.canvas [role="button"]:focus,
.canvas input[type="radio"]:focus,
.canvas input[type="checkbox"]:focus {
  outline: 2px solid #0969da;
  outline-offset: -2px;
  box-shadow: none;
}

.canvas a:focus:not(:focus-visible),
.canvas [role="button"]:focus:not(:focus-visible),
.canvas input[type="radio"]:focus:not(:focus-visible),
.canvas input[type="checkbox"]:focus:not(:focus-visible) {
  outline: solid 1px transparent;
}

.canvas a:focus-visible,
.canvas [role="button"]:focus-visible,
.canvas input[type="radio"]:focus-visible,
.canvas input[type="checkbox"]:focus-visible {
  outline: 2px solid #0969da;
  outline-offset: -2px;
  box-shadow: none;
}

.canvas a:not([class]):focus,
.canvas a:not([class]):focus-visible,
.canvas input[type="radio"]:focus,
.canvas input[type="radio"]:focus-visible,
.canvas input[type="checkbox"]:focus,
.canvas input[type="checkbox"]:focus-visible {
  outline-offset: 0;
}

.canvas kbd {
  display: inline-block;
  padding: 0.25rem;
  font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  line-height: 10px;
  color: #1f2328;
  vertical-align: middle;
  background-color: #f6f8fa;
  border: solid 1px #d1d9e0b3;
  border-bottom-color: #d1d9e0b3;
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 #d1d9e0b3;
}

.canvas h1,
.canvas h2,
.canvas h3,
.canvas h4,
.canvas h5,
.canvas h6 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 1.25;
}

.canvas h2 {
  font-weight: 600;
  padding-bottom: 0.3em;
  font-size: 1.5em;
}

.canvas h3 {
  font-weight: 600;
  font-size: 1.25em;
}

.canvas h4 {
  font-weight: 600;
  font-size: 1em;
}

.canvas h5 {
  font-weight: 600;
  font-size: 0.875em;
}

.canvas h6 {
  font-weight: 600;
  font-size: 0.85em;
  color: #59636e;
}

.canvas p {
  margin-top: 0;
  margin-bottom: 10px;
}

.canvas blockquote {
  margin: 0;
  padding: 0 1em;
  color: #59636e;
  border-left: 0.25em solid #d1d9e0;
}

.canvas ul,
.canvas ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

.canvas ol ol,
.canvas ul ol {
  list-style-type: lower-roman;
}

.canvas ul ul ol,
.canvas ul ol ol,
.canvas ol ul ol,
.canvas ol ol ol {
  list-style-type: lower-alpha;
}

.canvas dd {
  margin-left: 0;
}

.canvas tt,
.canvas code,
.canvas samp {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  font-size: 12px;
}

.canvas pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  font-size: 12px;
  word-wrap: normal;
}

.canvas .octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

.canvas input::-webkit-outer-spin-button,
.canvas input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

.canvas .mr-2 {
  margin-right: 0.5rem !important;
}

.canvas::before {
  display: table;
  content: "";
}

.canvas::after {
  display: table;
  clear: both;
  content: "";
}

.canvas > *:first-child {
  margin-top: 0 !important;
}

.canvas > *:last-child {
  margin-bottom: 0 !important;
}

.canvas a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.canvas .absent {
  color: #d1242f;
}

.canvas .anchor {
  float: left;
  padding-right: 0.25rem;
  margin-left: -20px;
  line-height: 1;
}

.canvas .anchor:focus {
  outline: none;
}

.canvas p,
.canvas blockquote,
.canvas ul,
.canvas ol,
.canvas dl,
.canvas table,
.canvas pre,
.canvas details {
  margin-top: 0;
  margin-bottom: 1rem;
}

.canvas blockquote > :first-child {
  margin-top: 0;
}

.canvas blockquote > :last-child {
  margin-bottom: 0;
}

.canvas h1 .octicon-link,
.canvas h2 .octicon-link,
.canvas h3 .octicon-link,
.canvas h4 .octicon-link,
.canvas h5 .octicon-link,
.canvas h6 .octicon-link {
  color: #1f2328;
  vertical-align: middle;
  visibility: hidden;
}

.canvas h1:hover .anchor,
.canvas h2:hover .anchor,
.canvas h3:hover .anchor,
.canvas h4:hover .anchor,
.canvas h5:hover .anchor,
.canvas h6:hover .anchor {
  text-decoration: none;
}

.canvas h1:hover .anchor .octicon-link,
.canvas h2:hover .anchor .octicon-link,
.canvas h3:hover .anchor .octicon-link,
.canvas h4:hover .anchor .octicon-link,
.canvas h5:hover .anchor .octicon-link,
.canvas h6:hover .anchor .octicon-link {
  visibility: visible;
}

.canvas h1 tt,
.canvas h1 code,
.canvas h2 tt,
.canvas h2 code,
.canvas h3 tt,
.canvas h3 code,
.canvas h4 tt,
.canvas h4 code,
.canvas h5 tt,
.canvas h5 code,
.canvas h6 tt,
.canvas h6 code {
  padding: 0 0.2em;
  font-size: inherit;
}

.canvas summary h1,
.canvas summary h2,
.canvas summary h3,
.canvas summary h4,
.canvas summary h5,
.canvas summary h6 {
  display: inline-block;
}

.canvas summary h1 .anchor,
.canvas summary h2 .anchor,
.canvas summary h3 .anchor,
.canvas summary h4 .anchor,
.canvas summary h5 .anchor,
.canvas summary h6 .anchor {
  margin-left: -40px;
}

.canvas summary h1,
.canvas summary h2 {
  padding-bottom: 0;
  border-bottom: 0;
}

.canvas ul.no-list,
.canvas ol.no-list {
  padding: 0;
  list-style-type: none;
}

.canvas ol[type="a s"] {
  list-style-type: lower-alpha;
}

.canvas ol[type="A s"] {
  list-style-type: upper-alpha;
}

.canvas ol[type="i s"] {
  list-style-type: lower-roman;
}

.canvas ol[type="I s"] {
  list-style-type: upper-roman;
}

.canvas ol[type="1"] {
  list-style-type: decimal;
}

.canvas div > ol:not([type]) {
  list-style-type: decimal;
}

.canvas ul ul,
.canvas ul ol,
.canvas ol ol,
.canvas ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.canvas li > p {
  margin-top: 1rem;
}

.canvas li + li {
  margin-top: 0.25em;
}

.canvas dl {
  padding: 0;
}

.canvas dl dt {
  padding: 0;
  margin-top: 1rem;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.canvas dl dd {
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.canvas table th {
  font-weight: 600;
}

.canvas table th,
.canvas table td {
  padding: 6px 13px;
  border: 1px solid #d1d9e0;
}

.canvas table td > :last-child {
  margin-bottom: 0;
}

.canvas table tr {
  background-color: #ffffff;
  border-top: 1px solid #d1d9e0b3;
}

.canvas table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.canvas table img {
  background-color: transparent;
}

.canvas img[align="right"] {
  padding-left: 20px;
}

.canvas img[align="left"] {
  padding-right: 20px;
}

.canvas .emoji {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent;
}

.canvas span.frame {
  display: block;
  overflow: hidden;
}

.canvas span.frame > span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid #d1d9e0;
}

.canvas span.frame span img {
  display: block;
  float: left;
}

.canvas span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: #1f2328;
}

.canvas span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

.canvas span.align-center > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}

.canvas span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

.canvas span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

.canvas span.align-right > span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}

.canvas span.align-right span img {
  margin: 0;
  text-align: right;
}

.canvas span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}

.canvas span.float-left span {
  margin: 13px 0 0;
}

.canvas span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}

.canvas span.float-right > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}

.canvas code,
.canvas tt {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: #818b981f;
  border-radius: 6px;
}

.canvas code br,
.canvas tt br {
  display: none;
}

.canvas del code {
  text-decoration: inherit;
}

.canvas samp {
  font-size: 85%;
}

.canvas pre code {
  font-size: 100%;
}

.canvas pre > code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.canvas .highlight {
  margin-bottom: 1rem;
}

.canvas .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.canvas .highlight pre,
.canvas pre {
  padding: 1rem;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  color: #1f2328;
  background-color: #f6f8fa;
  border-radius: 6px;
}

.canvas pre code,
.canvas pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.canvas .csv-data td,
.canvas .csv-data th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}

.canvas .csv-data .blob-num {
  padding: 10px 0.5rem 9px;
  text-align: right;
  background: #ffffff;
  border: 0;
}

.canvas .csv-data tr {
  border-top: 0;
}

.canvas .csv-data th {
  font-weight: 600;
  background: #f6f8fa;
  border-top: 0;
}

.canvas [data-footnote-ref]::before {
  content: "[";
}

.canvas [data-footnote-ref]::after {
  content: "]";
}

.canvas .footnotes {
  font-size: 12px;
  color: #59636e;
  border-top: 1px solid #d1d9e0;
}

.canvas .footnotes ol {
  padding-left: 1rem;
}

.canvas .footnotes ol ul {
  display: inline-block;
  padding-left: 1rem;
  margin-top: 1rem;
}

.canvas .footnotes li {
  position: relative;
}

.canvas .footnotes li:target::before {
  position: absolute;
  top: calc(0.5rem * -1);
  right: calc(0.5rem * -1);
  bottom: calc(0.5rem * -1);
  left: calc(1.5rem * -1);
  pointer-events: none;
  content: "";
  border: 2px solid #0969da;
  border-radius: 6px;
}

.canvas .footnotes li:target {
  color: #1f2328;
}

.canvas .footnotes .data-footnote-backref g-emoji {
  font-family: monospace;
}

.canvas body:has(:modal) {
  padding-right: var(--dialog-scrollgutter) !important;
}

.canvas .pl-c {
  color: #59636e;
}

.canvas .pl-c1,
.canvas .pl-s .pl-v {
  color: #0550ae;
}

.canvas .pl-e,
.canvas .pl-en {
  color: #6639ba;
}

.canvas .pl-smi,
.canvas .pl-s .pl-s1 {
  color: #1f2328;
}

.canvas .pl-ent {
  color: #0550ae;
}

.canvas .pl-k {
  color: #cf222e;
}

.canvas .pl-s,
.canvas .pl-pds,
.canvas .pl-s .pl-pse .pl-s1,
.canvas .pl-sr,
.canvas .pl-sr .pl-cce,
.canvas .pl-sr .pl-sre,
.canvas .pl-sr .pl-sra {
  color: #0a3069;
}

.canvas .pl-v,
.canvas .pl-smw {
  color: #953800;
}

.canvas .pl-bu {
  color: #82071e;
}

.canvas .pl-ii {
  color: #f6f8fa;
  background-color: #82071e;
}

.canvas .pl-c2 {
  color: #f6f8fa;
  background-color: #cf222e;
}

.canvas .pl-sr .pl-cce {
  font-weight: bold;
  color: #116329;
}

.canvas .pl-ml {
  color: #3b2300;
}

.canvas .pl-mh,
.canvas .pl-mh .pl-en,
.canvas .pl-ms {
  font-weight: bold;
  color: #0550ae;
}

.canvas .pl-mi {
  font-style: italic;
  color: #1f2328;
}

.canvas .pl-mb {
  font-weight: bold;
  color: #1f2328;
}

.canvas .pl-md {
  color: #82071e;
  background-color: #ffebe9;
}

.canvas .pl-mi1 {
  color: #116329;
  background-color: #dafbe1;
}

.canvas .pl-mc {
  color: #953800;
  background-color: #ffd8b5;
}

.canvas .pl-mi2 {
  color: #d1d9e0;
  background-color: #0550ae;
}

.canvas .pl-mdr {
  font-weight: bold;
  color: #8250df;
}

.canvas .pl-ba {
  color: #59636e;
}

.canvas .pl-sg {
  color: #818b98;
}

.canvas .pl-corl {
  text-decoration: underline;
  color: #0a3069;
}

.canvas [role="button"]:focus:not(:focus-visible),
.canvas [role="tabpanel"][tabindex="0"]:focus:not(:focus-visible),
.canvas button:focus:not(:focus-visible),
.canvas summary:focus:not(:focus-visible),
.canvas a:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

.canvas [tabindex="0"]:focus:not(:focus-visible),
.canvas details-dialog:focus:not(:focus-visible) {
  outline: none;
}

.canvas g-emoji {
  display: inline-block;
  min-width: 1ch;
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  font-style: normal !important;
  font-weight: 400;
  line-height: 1;
  vertical-align: -0.075em;
}

.canvas g-emoji img {
  width: 1em;
  height: 1em;
}

.canvas .task-list-item {
  list-style-type: none;
}

.canvas .task-list-item label {
  font-weight: 400;
}

.canvas .task-list-item.enabled label {
  cursor: pointer;
}

.canvas .task-list-item + .task-list-item {
  margin-top: 0.25rem;
}

.canvas .task-list-item .handle {
  display: none;
}

.canvas .task-list-item-checkbox {
  margin: 0 0.2em 0.25em -1.4em;
  vertical-align: middle;
}

.canvas ul:dir(rtl) .task-list-item-checkbox {
  margin: 0 -1.6em 0.25em 0.2em;
}

.canvas ol:dir(rtl) .task-list-item-checkbox {
  margin: 0 -1.6em 0.25em 0.2em;
}

.canvas .contains-task-list:hover .task-list-item-convert-container,
.canvas .contains-task-list:focus-within .task-list-item-convert-container {
  display: block;
  width: auto;
  height: 24px;
  overflow: visible;
  clip: auto;
}

.canvas ::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}

.canvas .markdown-alert {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  color: inherit;
  border-left: 0.25em solid #d1d9e0;
}

.canvas .markdown-alert > :first-child {
  margin-top: 0;
}

.canvas .markdown-alert > :last-child {
  margin-bottom: 0;
}

.canvas .markdown-alert .markdown-alert-title {
  display: flex;
  font-weight: 500;
  align-items: center;
  line-height: 1;
}

.canvas .markdown-alert.markdown-alert-note {
  border-left-color: #0969da;
}

.canvas .markdown-alert.markdown-alert-note .markdown-alert-title {
  color: #0969da;
}

.canvas .markdown-alert.markdown-alert-important {
  border-left-color: #8250df;
}

.canvas .markdown-alert.markdown-alert-important .markdown-alert-title {
  color: #8250df;
}

.canvas .markdown-alert.markdown-alert-warning {
  border-left-color: #9a6700;
}

.canvas .markdown-alert.markdown-alert-warning .markdown-alert-title {
  color: #9a6700;
}

.canvas .markdown-alert.markdown-alert-tip {
  border-left-color: #1a7f37;
}

.canvas .markdown-alert.markdown-alert-tip .markdown-alert-title {
  color: #1a7f37;
}

.canvas .markdown-alert.markdown-alert-caution {
  border-left-color: #cf222e;
}

.canvas .markdown-alert.markdown-alert-caution .markdown-alert-title {
  color: #d1242f;
}

.canvas > *:first-child > .heading-element:first-child {
  margin-top: 0 !important;
}

.canvas .highlight pre:has(+ .zeroclipboard-container) {
  min-height: 52px;
}
