@use "variables" as vars;

@font-face {
  font-family: "Pretendard";
  font-weight: normal;
  src: url("/fonts/Pretendard-Medium.ttf") format("truetype");
}

.swing-introduction * {
  font-family: "Pretendard" !important;
}

.swing-introduction {
  box-sizing: border-box;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 24px;
  padding-right: 24px;

  li {
    list-style-type: disc !important;
  }

  & a {
  }

  & .primary {
    color: #000;
  }

  & .portfolio {
    h3 {
      font-size: large;
      font-weight: bold;
      margin-top: 1.25rem;
    }

    ul {
      font-size: medium;
    }
  }

  & > .experience {
    & ul {
      gap: 6px;
      & ul {
        margin-top: 6px;
        margin-bottom: 6px;
        gap: 6px;
        font-size: 1rem;
      }
    }
  }

  & > .project {
    & ul {
      gap: 6px;
      & ul {
        margin-top: 6px;
        margin-bottom: 6px;
        gap: 6px;
        font-size: 1rem;
      }
    }
  }

  & > .introduction {
    & ul {
      gap: 6px;
    }
  }

  & > .features {
    h3 {
      font-size: large;
      font-weight: bold;
      margin-top: 1.25rem;
    }

    ul {
      font-size: medium;
      padding-top: 1rem;
      padding-bottom: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      & > li {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }
    }
  }

  & > .skills {
    & li {
      & > span::after {
        content: " ,";
      }
      & > span:last-child::after {
        content: "";
      }
    }
  }

  &.swing-portfolio {
    h2:not(:first-child) {
      margin-top: 2.5rem;
    }
  }

  & .project-stack li > span::after {
    content: ",";
  }

  & .project-stack li > span:last-child::after {
    content: "";
  }

  & .badge {
    background-color: transparent;
    color: #3b5bdb;
    padding: 0px 6px;
    border-radius: 3px;
  }

  & > .info {
    & ul {
      gap: 5px;
      padding-left: 0;
      & > li {
        display: flex;
        font-size: 15px;
        align-items: center;
      }
    }
  }
}
