@use "variables" as vars;

@font-face {
  font-family: "Pretendard";
  font-weight: normal;
  src: url("/fonts/Pretendard-Medium.ttf") format("truetype");
}

.swing-introduction * {
  font-family: "Pretendard" !important;
}

.swing-introduction {
  box-sizing: border-box;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 24px;
  padding-right: 24px;

  .portfolio {
    li {
      font-size: 15px !important;
    }
    ul {
      font-size: 15px !important;
    }
    h2 {
      font-size: 22px;
    }
    h3 {
      font-size: 20px;
      font-weight: 100;
    }
  }

  .features {
    li {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  &.swing-portfolio {
    h2:not(:first-child) {
      margin-top: 2.5rem;
    }
  }

  & .project-stack li > span::after {
    content: ",";
  }

  & .project-stack li > span:last-child::after {
    content: "";
  }

  & .badge {
    background-color: #000;
    color: #fff;
    padding: 0px 6px;
    border-radius: 3px;
  }

  & > .info {
    & ul {
      gap: 5px;
      margin: 0;
      padding: 0;

      & > li {
        margin: 0;
        padding: 0;
        display: flex;
        font-size: 13px;
        align-items: center;
      }
    }
  }
  & > .story {
    & > h2 {
      margin: 0.5rem 0px;
    }
    padding-top: 16px;
    & p {
      font-size: 15px;
      margin-bottom: 0.75rem;
    }
  }
  & > .skills {
    padding-left: 16px;
    & ul {
      font-size: 15px;
      gap: 4px;
    }
  }

  & > .career {
    & ul {
      padding: 1rem 2em;
    }
  }

  & > .project {
    & ul {
      padding: 1rem 2em;
      & ul {
        padding: 0.25rem 1em;
        font-size: 16px;
        gap: 3px;
      }
    }
  }
}
