@use "./styles/variables";

.main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: variables.$HEIGHT_HEADER;
  position: relative;

  & > .header {
    width: 100%;
    height: variables.$HEIGHT_HEADER;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;

    & > .container {
      width: 100%;
      max-width: variables.$WIDTH_CONTAINER;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 10px;

      & > .btn-group {
        display: flex;
        align-items: center;
        gap: 6px;
      }
    }
  }
  & > .container {
    width: 100%;
    max-width: variables.$WIDTH_CONTAINER;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@include variables.media-sm {
  .main > .container {
  }
}

@include variables.media-lg {
  .main > .container {
  }
}
